.inputs{
    width: 340px;
    display: flex;
    flex-direction: row;
}

.inputs-wrapper{
    width: 50%;
}

.container{
    text-align: center;
    align-items: center;
}

.row{
    background-color: lightgreen;
}
